<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>西南大学审批系统</title>
    <link rel="stylesheet" href="../../static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/js/jquery-easyui-1.8.2/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../static/js/jquery-easyui-1.8.2/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../../static/js/jquery-easyui-texteditor/texteditor.css">
    <script type="application/javascript" src="../../static/js/jquery-easyui-1.8.2/jquery.min.js"></script>
    <script type="application/javascript" src="../../static/js/jquery-easyui-1.8.2/jquery.easyui.min.js"></script>
    <script type="application/javascript" src="../../static/js/jquery-easyui-texteditor/jquery.texteditor.js"></script>
    <script type="text/javascript" charset="UTF-8" src="../../static/js/auditSys/account.js"></script>
    <script type="text/javascript" charset="UTF-8" src="../../static/js/auditSys/table.js"></script>
    <script type="text/javascript" charset="UTF-8" src="../../static/js/auditSys/jquery-1.11.0.min.js"></script>
</head>
<body>
<div id="centerContainer" style="margin-top: 40px">
    <label>表格名称：</label>
    <input type="text" id="tableTitle">
    <button class="submitBtm" id="tableName" onclick="tableName()">下一步</button>
</div>
</body>
</html>