<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../../../static/css/style.css"/>
    <script type="text/javascript" charset="UTF-8" src="../../../static/js/auditSys/account.js"></script>
</head>
<body id="id_body">
<div id="loginPanel">
    <div id="loginTop">用户登录</div>
    <div id="loginBottom">
        <form method="post" id="loginForm">
            <label>用户名：</label>
            <input name="username" type="text"><br><br>
            <label>密码：</label>
            <input name="password" type="password"><br>
            <input type="submit" value="登录" onclick="register()">
        </form>
    </div>
</div>
</body>
</html>